<nav class="navbar">
  <a href="/"><h1>My Feedbacks</h1></a>
  <div class="links">
    <a href="/addfeedback">New Feedback</a>
    <a class="new-item-link" href="/user/logout">Logout</a>
  </div>
</nav>